@using Pfizer.Domain.Constants
@using Wizardsgroup.Core.Web.Extensions
@{
    string parentId = "";
    if (ViewBag.ParentId != null)
    {
        parentId = ViewBag.ParentId.ToString();
    }
    
    String grid = "DosageGrid";
    String controller = "Dosage";
}<div id="divMaster" controltype="accordion">
    @*<h3><span class="ui-dialog-title" id="ui-dialog-title-1">@ViewBag.Title</span></h3>      *@
    <div class="container">
        <div class="row row-padding-top-10 no-margin">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="panel">
                    <div class="panel-heading">
                        @*<h3>@ViewBag.Title</h3>*@
                        @ViewBag.ProductName - @ViewBag.Title
                    </div>
                    <div class="panel-body">
                        <div class="row row-padding-top-10">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                @Html.Hidden(ParameterKeyConstant.ProductId, parentId)
                                @Html.CustomGrid(grid, "GetRecords", controller, null, null, ParameterKeyConstant.ProductId)
                            </div>
                        </div>
                        <div class="row row-padding-top-10">
                            <div class="col-xs-1 col-md-1 col-lg-1">                                
                                @(Html.Wizardsgroup()
                                            .ButtonFor("Add")
                                            .Create(button => button.GridName(grid).Width(100).ParentKey(ParameterKeyConstant.ProductId))
                                            .Action("Create", controller)
                                            .Modal(modal => modal.Title("Create New Dosage").Height(400).Width(550))
                                            .Render())

                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1">                                
                                @(Html.Wizardsgroup()
                                          .ButtonFor("Delete")
                                          .Delete(button => button.GridName(grid))
                                          .Action(action => action.Controller(controller).Confirm("ConfirmItems").Action("DeleteItems"))
                                          .SelectionMode(SelectionMode.Multiple)
                                          .Modal(modal => modal.Height(350).Width(500).Title("Delete Dosage Form(s)"))
                                          .Render())
                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1">
                                @(Html.Wizardsgroup()
                                        .ButtonFor("Toggle")
                                        .Toggle(button => button.GridName(grid))
                                        .Action(controller)
                                        .Modal(modal => modal.Height(350).Width(500).Title("Toggle Dosage Form(s)"))
                                        .Render())
                            </div>
                            <div class="col-xs-10 col-md-10 col-lg-10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>