@using Wizardsgroup.Core.Web.Extensions
@using Pfizer.Domain.Constants
@model Pfizer.Web.Areas.Security.ViewModels.UserViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.CustomValidationSummary()

    <fieldset>
        <legend></legend>
    
        @Html.CustomLabelFor(model => model.EmployeeId)
        <div class="editor-field">
            @Html.CustomComboBoxFor(o => o.EmployeeId, EntityLookupConstant.Employee)
        </div>


        @Html.CustomLabelFor(model => model.UserName)
        <div class="editor-field">
            @Html.CustomTextBoxFor(model => model.UserName)
        </div>


        @Html.CustomLabelFor(model => model.UserPassword)
        <div class="editor-field">
            @Html.Password("UserPassword")
        </div>
        <br />

        @* <div>
            <p>User Group</p>
            
            @for(int index=0;index < Model.UserGroupItemList.Count();index++)
           
            {    
                @Html.HiddenFor(x => x.UserGroupItemList[index].UserGroupId) 
                @Html.HiddenFor(x => x.UserGroupItemList[index].UserGroupName) 
                @Html.CheckBoxFor(x => x.UserGroupItemList[index].IsChecked)
                @Html.LabelFor(x => x.UserGroupItemList[index].IsChecked, Model.UserGroupItemList[index].UserGroupName)
                <br/>
                
            } 
        </div>*@

    </fieldset>
}