<!-- tablet -->
@*<li class="nav-header tablet">System</li>
@Html.Partial("Menu/_SystemMenu")

<li class="divider"></li>
<li class="nav-header tablet">Grid Settings</li>
@Html.Partial("Menu/_GridSettingMenu")

<li class="divider"></li>
<li class="nav-header tablet">Business</li>
@Html.Partial("Menu/_BusinessMenu")

<li class="divider"></li>
<li class="nav-header tablet">References</li>
@Html.Partial("Menu/_ReferencesMenu")*@

@*<li class="divider"></li>
<li class="dropdown-header">Business</li>*@
@Html.Partial("Menu/_SystemAdministrationMenu")

