@using Wizardsgroup.Core.Web.Extensions
@using Pfizer.Domain.Constants

@model Pfizer.Web.Areas.Common.ViewModels.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { name = "ForgotPasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.CustomValidationSummary()
    <fieldset>
        <legend></legend>

        @Html.CustomLabelFor(o => o.EmailAddress)
        <span style="color:red">*</span>
        <div class="editor-field">
            @Html.CustomTextBoxFor(o => o.EmailAddress)
        </div>

        @Html.CustomLabelFor(o => o.ReEmailAddress)
        <span style="color:red">*</span>
        <div class="editor-field">
            @Html.CustomTextBoxFor(o => o.ReEmailAddress)
        </div>

    </fieldset>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui-dialog-buttonset button:first-child').text('Submit');
        $('.ui-dialog-buttonpane').show();
    });
</script>