@using Wizardsgroup.Core.Web.Extensions
@using Pfizer.Domain.Constants


@model Pfizer.Web.Areas.Common.ViewModels.ResetPasswordViewModel

@using (Html.BeginForm("ResetPasswordForm", "Account", FormMethod.Post, new { name = "ResetPasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.CustomValidationSummary()
    <fieldset>
        <legend></legend>
        @Html.HiddenFor(o => o.UserId)

        @Html.CustomLabelFor(o => o.NewPassword)
        <div class="editor-field">
            @Html.CustomTextBoxFor(o => o.NewPassword)
        </div>

        @Html.CustomLabelFor(o => o.ReEnterPassword)
        <div class="editor-field">
            @Html.CustomTextBoxFor(o => o.ReEnterPassword)
        </div>

    </fieldset>
}
<div id="divEntry">&nbsp;</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui-dialog-buttonset button:first-child').text('Submit');
        $('.ui-dialog-buttonpane').show();
        $('form[name="ResetPasswordForm"] .editor-label').addClass('required-field');
        $('form[name="ResetPasswordForm"] input[name="ReEnterPassword"], form[name="ResetPasswordForm"] input[name="NewPassword"]').attr('type', 'password').val('');
        //alert('resetPasswordForm');
    });

</script>