@using Wizardsgroup.Core.Web.Extensions
@using Pfizer.Domain.Constants@{
    string parentId = "";
    if (ViewBag.ParentId != null)
    {
        parentId = ViewBag.ParentId.ToString();
    }
    String grid = "CardPrefixGrid";
    String controller = "CardPrefix";
}
<div id="divMaster" controltype="accordion">
    <div class="container">         
        <div class="row row-padding-top-10 no-margin">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="panel">
                    <div class="panel-heading">          
                        @ViewBag.Title
                    </div>
                    <div class="panel-body">
                        <div class="row row-padding-top-10">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                @Html.Hidden(ParameterKeyConstant.ParentId, parentId)
                                @Html.CustomGrid(grid, "GetRecords", controller, null, null, ParameterKeyConstant.ParentId)
                            </div>
                        </div>
                        <div class="row row-padding-top-10">
                            <div class="col-xs-1 col-md-1 col-lg-1">
                                @(Html.Wizardsgroup()
                                            .ButtonFor("Add")
                                            .Create(button => button.GridName(grid).Width(100).ParentKey(ParameterKeyConstant.ParentId))
                                            .Action("Create",controller)
                                            .Modal(modal=>modal.Title("Create New Card Prefix").Height(400).Width(550))
                                            .Render())                                
                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1">
                                @(Html.Wizardsgroup()
                                          .ButtonFor("Delete")
                                          .Delete(button=>button.GridName(grid))
                                          .Action(action => action.Controller(controller).Confirm("ConfirmItems").Action("DeleteItems"))
                                          .SelectionMode(SelectionMode.Multiple)
                                          .Modal(modal=>modal.Height(350).Width(500).Title("Delete Card Prefixes"))
                                          .Render())
                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1">
                                @(Html.Wizardsgroup()
                                        .ButtonFor("Toggle")
                                        .Toggle(button=>button.GridName(grid))
                                        .Action(controller)
                                        .Modal(modal => modal.Height(350).Width(500).Title("Toggle Card Prefixes"))
                                        .Render())
                            </div>
                            <div class="col-xs-10 col-md-10 col-lg-10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>