
<style type="text/css">
    div.link-list-modules {
        width: 45%;
        height: 25em;
        position: absolute;
        top: 0;
        font-size: 90%;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 45px;
        margin-right: 1px;
        margin-bottom: 5px;
        margin-left: 1px;
        border: 0px solid;
    }

    /* we leave some place on the side using the margin-* properties */
    #divModuleMover {
        margin-left: 45%;
        margin-right: 45%;
        margin-top: 3.4em;
        padding-left: 2%;
        padding-right: 2%;
        border: 0px solid;
        /*font-weight: bold;*/
        /*font-size: 20px;*/
        /*text-align: center;*/
    }

    /* and then we put each list on its place */
    #divUnassignedModules {
        left: 0;
    }

    #divAssignedModules {
        right: 0;
    }

    #UnassignedRecords {
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        width: 100%;
        height: 100%;
    }

    #AssignedRecords {
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        width: 100%;
        height: 100%;
    }

    button.movebutton {
        width: 60px;
    }

    .countLabel {
        color: Gray;
        font-style: italic;
    }

    input {
        width: 60%;
    }
</style>

<div>@ViewBag.WindowTitle</div>
@Html.AntiForgeryToken()
<div id="divModuleMover">
    @*   <input id="MoveRight" type="button" value=" >> " />
   <input id="MoveLeft" type="button" value=" << " />*@

    <button id="to2" type="button" class="movebutton">></button>
    <button id="allTo2" type="button" class="movebutton">>></button>
    <button id="allTo1" type="button" class="movebutton"><<</button>
    <button id="to1" type="button" class="movebutton"><</button>
</div>
<div id="divUnassignedModules" class="link-list-modules">
    <div>
        Filter:
        <input type="text" id="UnassignedFilter" />
        <button type="button" id="UnassignedClear">X</button>@*<br />*@
    </div>
    <div style="height: 3px;"></div>
    <div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix"><span id="titleLeft" class="ui-dialog-title"></span></div>

    @Html.ListBox("UnassignedRecords")
    <span id="UnassignedCounter" class="countLabel"></span>
    <select id="UnassignedStorage" style="visibility: hidden"></select>
</div>
<div id="divAssignedModules" class="link-list-modules">
    <div style="visibility: hidden">
        Filter:
        <input type="text" id="AssignedFilter" />
        <button type="button" id="AssignedClear">X</button><br />
    </div>
    <div style="height: 3px;"></div>
    <div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix"><span id="titleRight" class="ui-dialog-title"></span></div>
    @Html.ListBox("AssignedRecords")
    <span id="AssignedCounter" class="countLabel"></span>
    <select id="AssignedStorage" style="visibility: hidden"></select>
</div>

<script type="text/javascript">
    $(function () {
        $("button").button();
        $.configureBoxes({
            box1View: 'UnassignedRecords',
            box1Storage: 'UnassignedStorage',
            box1Filter: 'UnassignedFilter',
            box1Clear: 'UnassignedClear',
            box1Counter: 'UnassignedCounter',
            box2View: 'AssignedRecords',
            box2Storage: 'AssignedStorage',
            box2Filter: 'AssignedFilter',
            box2Clear: 'AssignedClear',
            box2Counter: 'AssignedCounter',
            to1: 'to1',
            to2: 'to2',
            allTo1: 'allTo1',
            allTo2: 'allTo2'
        });

    });

    var txtLeft = '@ViewBag.LeftLabel';
    var textRight = '@ViewBag.RightLabel';
    var parentValue = '@ViewBag.SourceId';
    assignUrl = '@ViewBag.Action';

    setAssignButton(parentValue);
    $('#titleLeft').text(txtLeft);
    $('#titleRight').text(textRight);

</script>
